[Adblock Plus 2.0]
! Title: My Privacy DNS's Adblocker Rules
! Expires: 1 hours
!
! List url:
! https://framagit.org/my-privacy-dns/adblocker-rules/blockrules.txt
!
! Redirect: https://framagit.org/my-privacy-dns/adblocker-rules/blockrules.txt
!
! License:
! https://framagit.org/my-privacy-dns/adblocker-rules-/blob/master/LICENSE
! Homepage: https://framagit.org/my-privacy-dns/adblocker-rules
!
! Please report any unblocked content or problems on the Issue board.
! My Privacy DNS issues:
! - https://framagit.org/my-privacy-dns/matrix/-/issues
! Merge Request:
! - https://framagit.org/my-privacy-dns/adblocker-rules/-/merge_requests
!
! Email:
!   - incoming+my-privacy-dns-matrix-16-9002yhfr7lz94rweqg1exxjvh-issue@mypdns.org
!
! CopyRight:
!   - https://mypdns.org/spirillen
!   - https://framagit.org/spirillen
!   - https://bitbucket.org/spirillen/
!   - https://github.com/spirillen
!   - https://gitlab.com/spirillen
!   - https://marsupilami.jetbrains.space/m/spirillen
!   - https://spirillen.atlassian.net/wiki/people/5bb90b589ba2930990f81dcd
!   - https://spirillen.jetbrains.space/m/spirillen
!   - https://spirillen.youtrack.cloud/users/spirillen
!   - The individual lists maintainers
!   - The individual contributor
!     https://framagit.org/my-privacy-dns/adblocker-rules-/network/master
!
! Description: This list is originally thought as a private project
! Between two friends @spirillen and @AnonymousPoster
! But it have come to our attention that other are using it as well and
! That is nice to see, if you have any fixes, rules or just some decent
! clean-up of rules, you are most welcome to participate.
!
! Versus any other project I participates to, this is more lazy and
! >>If it smells like a fish, it's probably a fish<<
!
!------- Adult Annoyance blocking filters -----------------------------!
%include ublockorigin-rules:rules/adult_domain.blacklist%
%include ublockorigin-rules:rules/adult_rule.blacklist%

!------- Advert blocking filters --------------------------------------!
%include ublockorigin-rules:rules/adware_domain.blacklist%
%include ublockorigin-rules:rules/adware_rule.blacklist%

!------- Annoyance rules filters --------------------------------------!
%include ublockorigin-rules:rules/annoyance_domain.blacklist%
%include ublockorigin-rules:rules/annoyance_rule.blacklist%
!%include ublockorigin-rules:rules/noise.txt%

!------- Anti-Social List ---------------------------------------------!
%include ublockorigin-rules:rules/anti_social_domain.blacklist%
%include ublockorigin-rules:rules/anti_social_rule.blacklist%

!------- Anti White ---------------------------------------------------!
%include ublockorigin-rules:rules/anti_whitelist_domain.blacklist%
%include ublockorigin-rules:rules/anti_whitelist_rule.blacklist%

!------- Cookie rules filters -----------------------------------------!
%include ublockorigin-rules:rules/cookie_domain.blacklist%
%include ublockorigin-rules:rules/cookie_rule.blacklist%

!------- Pirated domain rules filters ---------------------------------!
%include ublockorigin-rules:rules/domain_piracy_rules.blacklist%

!------- SpyWare List -------------------------------------------------!
%include ublockorigin-rules:rules/spyware_domain.blacklist%
%include ublockorigin-rules:rules/spyware_rule.blacklist%

!------- White List ---------------------------------------------------!
%include ublockorigin-rules:rules/whitelist_domain.whitelist%
%include ublockorigin-rules:rules/whitelist_rule.whitelist%

!------- @Yuki2718 many Filters ---------------------------------------!
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/medium_mode/anti-allowlist.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/medium_mode/dynamic-rules.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/medium_mode/dynamic-rules-mob.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/medium_mode/dynamic-rules.txt%
! %include https://raw.githubusercontent.com/Yuki2718/adblock/master/medium_mode/static-rules.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/adguard/anti-antiadb.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/adguard/social-plus.txt%
! %include https://raw.githubusercontent.com/Yuki2718/adblock/master/adguard/tracking-plus.txt%
! %include https://raw.githubusercontent.com/Yuki2718/adblock/master/japanese/blog-parts-adult.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/japanese/blog-parts.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/japanese/blogroll.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/japanese/jp-annoyances-plus.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/japanese/jp-annoyances.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/japanese/jp-filters.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/japanese/jp-mob.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/japanese/jp-paranoid.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/japanese/jp-social.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/japanese/mob-app.txt%
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/japanese/sabre-filters2.txt%

!------- @ryanbr Fanboy's Enhanced Tracking List ----------------------!
%include https://raw.githubusercontent.com/ryanbr/fanboy-adblock/master/enhancedstats-addon.txt%

!------- @ryanbr Easylist Cookie List ---------------------------------!
%include https://raw.githubusercontent.com/ryanbr/fanboy-adblock/master/fanboy-cookiemonster.txt%

!------- Anti-Facebook List -------------------------------------------!
%include https://raw.githubusercontent.com/ryanbr/fanboy-adblock/master/fanboy-antifacebook.txt%

!------- Fanboy's Annoyance List (@ryanbr) ----------------------------!
! %include https://raw.githubusercontent.com/ryanbr/fanboy-adblock/master/fanboy-annoyance.txt%

!------- webannoyances by @yourduskquibbles ---------------------------!
%include https://raw.githubusercontent.com/yourduskquibbles/webannoyances/master/ultralist.txt%

!------- AdGuard Base filter ------------------------------------------!
%include https://filters.adtidy.org/extension/ublock/filters/2_without_easylist.txt%

!------- AdGuard Tracking Protection filter ---------------------------!
%include https://filters.adtidy.org/extension/ublock/filters/3.txt%

!------- AdGuard Social Media filter ----------------------------------!
%include https://filters.adtidy.org/extension/ublock/filters/4.txt%

!------- AdGuard Annoyances filter ------------------------------------!
%include https://filters.adtidy.org/extension/ublock/filters/14.txt%

!------- Spam404 ------------------------------------------------------!
%include https://raw.githubusercontent.com/Spam404/lists/master/adblock-list.txt%

!------- Fanboy's Social Blocking List --------------------------------!
!%include https://easylist.to/easylist/fanboy-social.txt%

!------- uBlock filters – Annoyances ----------------------------------!
%include https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/annoyances.txt%
%include https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/badlists.txt%
%include https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/badware.txt%
%include https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2020.txt%
%include https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2021.txt%
%include https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters.txt%
%include https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/legacy.txt%
%include https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/privacy.txt%
%include https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/resource-abuse.txt%

!-- Don't ever include this list. It leads to SpyWare, TrackWare, PUP's and malware!
!-- %include https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/unbreak.txt% --!

!------- Dan Pollock --------------------------------------------------!
%include https://someonewhocares.org/hosts/hosts%

!------- Peter @pgl yoyo.org ------------------------------------------!
%include https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&showintro=1&mimetype=plaintext%

!------- @migueldemoura ublock-umatrix-rulesets -----------------------!
%include https://raw.githubusercontent.com/migueldemoura/ublock-umatrix-rulesets/master/uBlock/list%

!------- @Piperun's IP-Logger Filter ----------------------------------!
! License: GNU General Public License v2.0
%include https://raw.githubusercontent.com/piperun/iploggerfilter/master/filterlist%
