[Adblock Plus 2.0]
! Title: Spirillen's – Adblock Rules
! Expires: 1 hour
!
! List url:
! https://mypdns.org/my-external-stuff/ublockorigin-rules/blockrules.txt
!
! License:
! https://mypdns.org/spirillen/ublockorigin-rules/-/blob/master/LICENSEE
! Homepage: https://mypdns.org/my-external-stuff/ublockorigin-rules/
!
! Please report any unblocked content or problems on the Issue board.
! My Privacy DNS issues:
! - https://mypdns.org/my-external-stuff/ublockorigin-rules/issues
! Merge Request:
! - https://mypdns.org/my-external-stuff/ublockorigin-rules/-/merge_requests
! Email:
!   - None
! CopyRight:
!   - https://mypdns.org/spirillen
!   - https://archive.mypdns.org/p/Spirillen/
!   - https://github.com/spirillen
!   - The individual lists maintainers
!
! Description: This list is originally thought as a private project
! Between two friends @spirillen and @AnonymousPoster
! But it have come to our attention that other are using it as well and
! That is nice to see, if you have any fixes, rules or just some decent
! clean-up of rules, you are most welcome to participate.
!
! Versus any other project I participates to, this is more lazy and
! >>If it smells like a fish, it's probably a fish<<
!
!------- General advert blocking filters ------------------------------!
%include ublockorigin-rules:rules/blockrules.txt%

!------- Panic List ---------------------------------------------------!
%include ublockorigin-rules:rules/panic.txt%

!------- Panic List ---------------------------------------------------!
%include ublockorigin-rules:rules/SpyWare.txt%

!------- White List ---------------------------------------------------!
%include ublockorigin-rules:rules/whitelist.txt%

!------- Anti White ---------------------------------------------------!
%include ublockorigin-rules:rules/anti_whitelist.txt%

!------- Adult Annoyance blocking filters -----------------------------!
%include ublockorigin-rules:rules/Adult_Annoyance.txt%

!------- Genral Global rules filters ----------------------------------!
%include ublockorigin-rules:rules/css_general_hide.txt%

!------- Noise Filters ------------------------------------------------!
%include ublockorigin-rules:rules/noise.txt%

!------- Fanboy's Enhanced Tracking List by @ryanbr -------------------!
%include https://raw.githubusercontent.com/ryanbr/fanboy-adblock/master/enhancedstats-addon.txt%

!------- Easylist Cookie List by @ryanbr ------------------------------!
%include https://raw.githubusercontent.com/ryanbr/fanboy-adblock/master/fanboy-cookiemonster.txt%

!------- Anti Whitelist by @Yuki2718 ----------------------------------!
%include https://raw.githubusercontent.com/Yuki2718/adblock/master/medium_mode/anti-allowlist.txt%

!------- webannoyances by @yourduskquibbles ---------------------------!
%include https://raw.githubusercontent.com/yourduskquibbles/webannoyances/master/ultralist.txt%

!------- Ad Placeholder by @yourduskquibbles --------------------------!
%include https://raw.githubusercontent.com/yourduskquibbles/webannoyances/master/filters/ad_placeholders.txt%

!------- Cookie Filters by @yourduskquibbles --------------------------!
%include https://raw.githubusercontent.com/yourduskquibbles/webannoyances/master/filters/cookie_filters.txt%

!------- Floating Annoyances by @yourduskquibbles ---------------------!
%include https://raw.githubusercontent.com/yourduskquibbles/webannoyances/master/filters/floating_filters.txt%

!------- Generic Filters by @yourduskquibbles -------------------------!
%include https://raw.githubusercontent.com/yourduskquibbles/webannoyances/master/filters/generic_filters.txt%

!------- Modal Overlay by @yourduskquibbles ---------------------------!
%include https://raw.githubusercontent.com/yourduskquibbles/webannoyances/master/filters/modal_filters.txt%

!------- Newsletter by @yourduskquibbles ------------------------------!
%include https://raw.githubusercontent.com/yourduskquibbles/webannoyances/master/filters/newsletter_filters.txt%

!------- Social Filters by @yourduskquibbles --------------------------!
%include https://raw.githubusercontent.com/yourduskquibbles/webannoyances/master/filters/social_filters.txt%

!------- Fuck Fuckadblock by @bogachenko ------------------------------!
! %include https://raw.githubusercontent.com/bogachenko/fuckfuckadblock/master/fuckfuckadblock.txt%
! this is clearly NOT TO BE TRUSTED...

!------- AdGuard Base filter ------------------------------------------!
%include https://filters.adtidy.org/extension/ublock/filters/2_without_easylist.txt%

!------- AdGuard Tracking Protection filter ---------------------------!
%include https://filters.adtidy.org/extension/ublock/filters/3.txt%

!------- Spam404 ------------------------------------------------------!
%include https://raw.githubusercontent.com/Spam404/lists/master/adblock-list.txt%

!------- AdGuard Annoyances filter ------------------------------------!
%include https://filters.adtidy.org/extension/ublock/filters/14.txt%

!------- AdGuard Social Media filter ----------------------------------!
%include https://filters.adtidy.org/extension/ublock/filters/4.txt%

!------- Anti-Facebook List -------------------------------------------!
%include https://raw.githubusercontent.com/ryanbr/fanboy-adblock/master/fanboy-antifacebook.txt%

!------- Fanboy's Annoyance List (@ryanbr) ----------------------------!
! %include https://raw.githubusercontent.com/ryanbr/fanboy-adblock/master/fanboy-annoyance.txt%

!------- Fanboy's Social Blocking List --------------------------------!
!%include https://easylist.to/easylist/fanboy-social.txt%

!------- uBlock filters – Annoyances ----------------------------------!
%include https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/annoyances.txt%

!------- Dan Pollock --------------------------------------------------!
%include https://someonewhocares.org/hosts/hosts%

!------- Peter @pgl yoyo.org------------------------------------------!
%include https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&showintro=1&mimetype=plaintext%
