name: Deploy new rules
on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'
  schedule:
    - cron: '57 * * * *'

env:
  GIT_NAME: '${{ secrets.GIT_NAME }}'
  GIT_EMAIL: '${{ secrets.GIT_EMAIL }}'
  GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
  NODE_VERSION: 20

jobs:
  buildrules:
    name: Trigger action
    runs-on: '${{ matrix.os }}'

    strategy:
      fail-fast: false
      matrix:
        python_version:
          - '3.13'
        os:
          - ubuntu-latest

    steps:
      - uses: actions/checkout@main
        name: Clone repository
        with:
          token: '${{ secrets.GITHUB_TOKEN }}'
          fetch-depth: 5

      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: |
          # python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install --no-cache -I -r requirements.txt; fi

      - name: Install hostlist-compiler
        run: npm i -g @adguard/hostlist-compiler@1.0.35

      - name: Install/Update axios to secure version
        run: npm install -g axios #@^0.21.1

      - name: Print Hostlist-compiler version
        run: |
          hostlist-compiler --version

      - name: Compiling blacklists
        run: |
          hostlist-compiler -v -c tools/compile_blacklist.json \
          -o _public/blacklist.bin

      - name: Compile Noice List
        run: |
          hostlist-compiler -v -c tools/compile_noise.json -o _public/noise.bin

      #   - name: Compile onions
      #     run: |
      #       hostlist-compiler -v -c tools/compile_onions.json -o _public/onions.txt

      - name: Compile whitelist
        run: |
          hostlist-compiler -c tools/compile_whiteList.json \
          -o _public/whiteList.bin

      # - name: Render the rules
      #   run: |
      #     BUILD="$(git rev-parse --short HEAD)"
      #     flrender -v -i ublockorigin-rules=. adblocker-rules.template _public/blockrules.txt
      #     sed -i -e "s/\! BuildID:/\! BuildID: $BUILD/g" _public/blockrules.txt
      #     head -n 5 _public/blockrules.txt

      - name: Deploy
        run: |
          cd _public
          # As we have no parts of the third world country (USA) domestic
          # Racism issues, we keep the original branch refs 'master'
          git config --global init.defaultBranch master
          git init
          git add -A
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "Release $(git --git-dir ../.git rev-parse --short HEAD)"

      - name: Force push to destination branch
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          force: true
          directory: _public
